//
// FYI: Material root variables is in ../_mixins.scss#material-vars
//

// mat-button
.mdc-button {
  &.ts,
  .ts & {
    height: auto;
    padding: 0.5em 1em;
    @include border-box;
  }
}

// mat-chip
.mat-mdc-chip {
  &.ts,
  .ts & {
    font-size: 0.8em;
    line-height: 1;
    margin: 0.35em 0 0em 0.25em !important;
  }
}

// mat-icon
.mat-icon {
  &.ts,
  .ts & {
    font-size: 1em;
    width: 1em;
    height: 1em;
  }
}

// mat-checkbox
.mat-mdc-checkbox .mdc-checkbox {
  font-size: 0.8em;
  width: 1em;
  height: 1em;
  flex: 0 0 1em;

  .mdc-checkbox__background {
    width: 1em;
    height: 1em;
  }
  .mat-mdc-checkbox-touch-target {
    width: 2em;
    height: 2em;
  }
}
