<div class="modal-wrapper">
  <form class="modal-box w-100" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="px-1 py-05">
      <h1 class="ts-150p flex-center m-0">
        {{ "WORDSETFORM.HEADLINE." + (isEditing ? "EDIT" : "NEW") | translate }}
      </h1>
    </div>
    <div class="modal-body p-1">
      <mat-form-field appearance="outline" class="w-100 ts-120p">
        <mat-label translate>WORDSETFORM.LABELS.TITLE</mat-label>
        <input matInput formControlName="title" autofocus />
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-100 ts-120p">
        <mat-label>
          {{ "WORDSETFORM.LABELS.WORDSTOLEARN" | translate }}*
        </mat-label>
        <mat-chip-grid #chipGrid aria-label="WORDSETFORM.LABELS.ADDWORD">
          <mat-chip-row
            *ngFor="let word of form.value.words"
            (removed)="removeWord(word)"
          >
            {{ word }}
            <button
              matChipRemove
              [attr.aria-label]="
                'WORDSETFORM.LABELS.REMOVEWORD' | translate : { word }
              "
            >
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-row>
          <input
            [placeholder]="'WORDSETFORM.LABELS.ADDWORD' | translate"
            class="word-input"
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="addWord($event)"
          />
        </mat-chip-grid>
      </mat-form-field>

      <ng-container *ngIf="shareUrl$ | async as shareUrl">
        <mat-form-field appearance="outline" class="w-100 ts-120p">
          <mat-label translate>WORDSETFORM.LABELS.SHARE</mat-label>
          <input
            #shareUrlInput
            matInput
            [value]="shareUrl"
            readonly
            class="ts-50p"
            (focus)="shareUrlInput.select()"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="copyShareUrl(shareUrl)"
            [attr.aria-label]="'WORDSETFORM.LABELS.COPYSHARE' | translate"
          >
            <mat-icon>content_copy</mat-icon>
          </button>
        </mat-form-field>
      </ng-container>

      <mat-checkbox
        *ngIf="isEditing"
        formControlName="delete"
        color="warn"
        class="ts-80p"
      >
        {{ "WORDSETFORM.LABELS.DELETEWORDSET" | translate }}
      </mat-checkbox>
    </div>

    <footer class="px-1 pb-05">
      <hr class="mt-0" />
      <div class="flex-center">
        <button
          type="submit"
          mat-raised-button
          [color]="form.value.delete ? 'warn' : 'primary'"
          [disabled]="form.invalid"
          class=""
        >
          <strong class="text-upper">
            {{
              "WORDSETFORM.BUTTON." +
                (form.value.delete ? "DELETE" : isEditing ? "EDIT" : "NEW")
                | translate
            }}
          </strong>
        </button>
      </div>
    </footer>
    <a
      (click)="location.back()"
      class="modal-close"
      [attr.aria-label]="'COMMON.CLOSE' | translate"
    ></a>
  </form>
</div>
