@include material-theme($default-theme);

:root {
  @include color-vars($default-theme);
  @include margin-padding-vars;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family-base;
}
html {
  font-size: 150%;
}
body {
  font-size: 1em;
}

* {
  box-sizing: border-box;
}
