@include material-theme($default-theme);

:root {
  @include color-vars($default-theme);
  @include margin-padding-vars;
  @include material-vars;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family-base;
  overscroll-behavior-y: none;
}
html {
  font-size: 3vw; // landscape
  @media (orientation: portrait) {
    font-size: 5vw; // landscape
  }
}
body {
  font-size: 1em;
  user-select: none;
  -webkit-user-drag: none;
}

* {
  box-sizing: border-box;
}
