<div cdkDropListGroup class="wrapper full-fill bg-op-5">
  <main
    class="flex-center"
    cdkDropList
    (dblclick)="useSpeechLock = !useSpeechLock"
  >
    <div *ngIf="currWord" class="p-1">
      <app-speech-lock
        [word]="currWord"
        (lockedChanged)="isCurrWordLocked = $event"
        [disabled]="!useSpeechLock"
        #lockBox
      >
        <app-word
          bgcolor="var(--color-primary-light-2)"
          innerClass="px-1 ts-120p"
          cdkDrag
          [cdkDragData]="currWord"
          (cdkDragDropped)="onDragDrop($event)"
          [cdkDragBoundary]="
            useSpeechLock && isCurrWordLocked ? 'app-speech-lock' : ''
          "
        >
          {{ formatWord(currWord, true) }}
        </app-word>
      </app-speech-lock>
    </div>
  </main>
  <aside [class.opacity-70]="isCurrWordLocked">
    <div
      *ngFor="let word of gameInfo?.wordset?.words || []; trackBy: trackByValue"
      cdkDropList
      [cdkDropListDisabled]="wordsDone.includes(word)"
      [cdkDropListData]="word"
      (cdkDropListEntered)="onDragEnter($event)"
      (cdkDropListExited)="resetUI()"
    >
      <app-word [state]="wordState(word)" (click)="onWordChosen(word)">
        {{ formatWord(word, false) }}
      </app-word>
    </div>
  </aside>
</div>
