<div *ngIf="$$ | async as $" cdkDropListGroup class="wrapper full-fill bg-op-5">
  <main class="flex-fill flex-align-center flex-justify-center" cdkDropList>
    <div class="p-1" *ngIf="$.currWord">
      <app-word
        bgcolor="var(--color-primary-light-2)"
        innerClass="px-1 ts-120p"
        cdkDrag
        [cdkDragData]="$.currWord"
        (cdkDragDropped)="onDragDrop($event)"
      >
        {{ formatWord($.currWord, true) }}
      </app-word>
    </div>
  </main>
  <aside>
    <div
      *ngFor="let ws of $.wordsStatus; trackBy: trackByWord"
      cdkDropList
      [cdkDropListDisabled]="ws.done"
      [cdkDropListData]="ws"
      (cdkDropListEntered)="onDragEnter($event)"
      (cdkDropListExited)="reset()"
    >
      <app-word [state]="wordState(ws, $.hoveredWord, $.wrongWord)">
        {{ formatWord(ws.word, false) }}
      </app-word>
    </div>
  </aside>
</div>
