@import "mixins";

.wrapper {
  background: rgba(black, 0.1);
  display: flex;
  flex-direction: row;
  padding: 2em;
}

.box {
  width: calc(25% - 2em);
  min-width: 8em;
  @include border-box;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  text-decoration: none;

  &:hover {
    border-color: rgba(black, 0.75);
    box-shadow: 0 0 2em rgba(black, 0.5);
  }

  &.new {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
    b {
      font-size: 300%;
    }
  }
}
