<div
  class="wrapper flex-fill full-fill bg-op-5"
  [class.edit-mode]="editMode"
  [class.disable-click]="clickDisabled"
  (click)="editMode && setEditMode(false)"
>
  <div class="box new" matRipple (click)="gotoLink('new')">
    <b>+</b>
  </div>
  <ng-container *ngFor="let ws of store.wordSets$ | async; let index = index">
    <div
      class="box"
      matRipple
      (click)="gotoLink(['/game', index])"
      (longpress)="setEditMode(true)"
      (longpressEnd)="enableClick()"
      [style.animation-delay]="-((index % 4) * 0.2) + 's'"
    >
      <b>{{ ws.title }}</b>
    </div>
  </ng-container>
</div>

<router-outlet></router-outlet>
