@import "mixins";

.wrapper {
  background: rgba(black, 0.1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2em;

  &.disable-click {
    pointer-events: none;
  }
}

.box {
  width: calc(25% - 2em);
  min-width: 8em;
  @include border-box;
  height: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1em;
  padding: 1em;
  text-decoration: none;

  &:hover {
    border-color: rgba(black, 0.75);
    box-shadow: 0 0 2em rgba(black, 0.5);
  }

  &.new {
    background: var(--color-primary);
    color: var(--color-primary-contrast);
    b {
      font-size: 300%;
    }
  }
}

.wrapper.edit-mode {
  .box {
    animation: wobble 0.3s infinite linear;

    &.new {
      animation: none;
    }
  }
}

@keyframes wobble {
  0%,
  50%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  75% {
    transform: rotate(3deg);
  }
}
